@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@0;1&family=Roboto&display=swap');
* {
    box-sizing: border-box; 
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    /* overflow-x: hidden; */
    font-family: "Roboto", sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}


main {
    display: flex;
}

.features-section {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-left: 140px;
}

.features-text {
    width: 100%;
    max-width: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.features-text h6 {
    line-height: 2;
    font-size: 16px;
    font-weight: 400;
    color: #6F7CB2;
    margin-bottom: 50px;
    margin-top: -15px;
}

.features-text h2 {
    font-size: 36px;
    color: #091133;
    font-weight: 500;
    line-height: 48px;
}

.features-card {
    display: flex;
    width: 540px;
    justify-content: space-between;
    gap: 20px;
}

.feature-card {
    width: 255px;
    display: grid;

}

.feature-card img {
    width: 30px;
    height: 30px;
}

.feature-card h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: #091133;
}

.feature-card h6 {
    font-size: 12px;
    color: #5D6970;
    font-weight: 400;
    line-height: 18px;
    margin-top: -7px;
}

.feature-img {
    width: 100%;
    max-width: 550px;
    object-fit: cover;
}

.feature-img img {
    width: 100%;
}

.info-card {
    display: flex;
    padding: 80px 120px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 90px;
}

.info-img img {
    width: 484px;
    height: 315px;
}

.info-text {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.info-text h6 {
    text-align: justify;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #6F7CB2;
}

.info-text h2 {
    font-size: 36px;
    line-height: 48px;
    font-weight: 500;
}

/* .info-text h6 {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #091133;
    margin-top: -20px;
} */

.button-primary {
    width: 150px;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    border: none;
    border-radius: 2px;
    background: #111B47;
    color: #fff;
    transition: background-color 0.3s ease;
}

.pricing-container {
    background-image: url('../../assets/images/Rectangle.png');
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pricing-container h2 {
    font-size: 36px;
    line-height: 48px;
    font-weight: 500;
    color: #091133;
    text-align: center;
}

.pricing-container .pricing-text h6 {
    text-align: center;
    width: 45%;
    margin: 0 auto;
    color: #6F7CB2;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}

.pricing-design h3 {
    font-size: 50px;
    line-height: 60px;
    font-weight: 500;
    color: #091133;
}

.pricing-design h5 {
    margin-top: -40px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}

.pricing-button p {
    /* margin-left: 55px; */
    color: #5D6970;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
}

.pricing-button button {
    width: 189px;
    border: none;
    background: #111B47;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    border-radius: 2px;
    margin: 0 auto;
}

@media (max-width: 1024px) {
    .hero-section {
        margin: 0;
        margin-left: 30px;
        margin-top: 120px;
    }

    .hero-img {
        width: 100%;
        max-width: 350px;
        object-fit: cover;
        margin-left: 30px;
    }

    .features-text h2 {
        font-size: 40px;
        font-weight: 500;
    }

    .features-section {
        margin-left: 25px;
    }

    .feature-img {
        width: 100%;
        max-width: 410px;
        object-fit: cover;
        margin-top: 80px;
        margin-left: 20px;
    }

    .info-img img {
        width: 350px;
    }

    .info-text {
        width: 50%;
    }

    .info-text h2 {
        font-size: 30px;
    }

    .pricing-text h6 {
        margin-left: 310px;
    }

    .pricing-button p {
        margin-left: 65px;
    }

    .pricing-button button {
        margin-left: 60px;
    }
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .main-section {
        display: flex;
        flex-direction: column;
    }

    .hero-section {
        width: 100%;
        max-width: 700px;
    }

    .hero-section h1 {
        text-align: center;
    }

    .img-container {
        width: 100%;
        max-width: 750px;
    }

    .img-container .hero-img {
        height: 480px;
        margin-top: 250px;
        margin-left: 200px;
    }

    .features-text {
        margin-left: 100px;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    .features-card {
        flex-direction: row;
        width: 70%;
        max-width: 700px;
        margin-left: 100px;
    }

    .feature-img img {
        margin-bottom: 50px;
        margin-left: 90px;
        height: 500px;
    }

    .info-card {
        padding: 20px 20px;
        flex-direction: row-reverse;
        margin-left: 20px;
        max-height: 500px;
        gap: 70px;
    }
    .info-img {
        width: 250px;
        height: 300px;
    }

    .pricing-container .pricing-text h6 {
        width: 400px;
        margin-left: 20px;

    }
}

@media  (max-width: 480px) {
    nav {
        display: flex;
        justify-content: space-between;
        padding: 10px 0px;
        position: relative;
        height: 50px;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 30px;
        left: 10px;
        flex-direction: column;
        padding: 10px;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
        background: none;
        border: none;
        font-size: 22px;
        font-weight: bold;
        color: #333;
        cursor: pointer;
    }

    .buy-now {
        padding: 7px 15px;
        font-weight: 500;
    }

    .hero-section {
        width: 100%;
        max-width: 480px;
        margin-left: 10px;
        display: flex;
        flex-direction: column;
    }

    .hero-section h1 {
        font-size: 2rem;
        font-weight: 500;
        text-align: center;
        padding: 0px 30px;
    }

    .hero-section p {
        font-size: 1.1rem;
    }

    .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 310px;
        height: auto;
    }

    .features-section {
        margin: 0;
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 100%;
    }

    .features-text {
        margin-left: 0;
        padding: 10px;
    }

    .features-text h2 {
        font-size: 30px;
        font-weight: 500;
        text-align: center;
        word-break: break-word;
    }

    .features-text h6 {
        margin-left: 0;
        width: 100%;
        text-align: justify;
        font-size: 1.1rem;
        overflow: scroll;
    }

    .features-card {
        margin-left: 0;
    }

    .feature-card h6 {
        text-align: justify;
    }

    .feature-img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 310px;
        height: auto;
    }

    .info-card {
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin-bottom: 200px;
    }

    .info-text {
        width: 100%;
        max-width: 460px;
        margin-top: 300px;
    }

    .info-text h2 {
        text-align: center;
        font-size: 30px;
    }

    .info-text h6 {
        font-size: 1.1rem;
    }

    .info-img {
        margin: 0;
        width: 350px;
        height: auto;
        margin-top: -80px;
    }

    .pricing-container h2 {
        font-size: 30px;
    }

    .pricing-container h6 {
        margin: 0;
        margin-left: 70px;
        width: 80%;
        font-size: 11px;
        text-align: justify;
    }

    .pricing-button p {
        margin-left: 60px;
    }

    .pricing-button button {
        margin-left: 35px;
    }

    .button-primary {
        width: 100%;
    }

}

@media (max-width: 360px){
    header{
        width: 405px;
    }
nav{
    display: flex;
    justify-content: space-between;
}
.hero-button .purchase-btn{
    width: 150px;
}
.hero-button .light-button{
    width: 150px;
}
.img-container{
      margin: 0;
      width: 100%;
      margin-left: -40px;
}
.features-card{
    display: flex;
    gap: 40px;
}

}