.main-section {
    display: flex;
}

.hero-section {
    width: 540px;
    height: 421;
    margin-top: 130px;
    margin-left: 163px;
}

button {
    font-weight: 500;
    font-size: 16px;
}

.hero-section h1 {
    font-weight: 500;
    font-size: 50px;
    line-height: 66px;
    color: #091133;
    font-family: "Roboto";
}

.hero-section p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #505F98;
}

.hero-button {
    display: flex;
    gap: 30px;
}

.hero-button .purchase-btn {
    
    width: 189px;
    height: 36px;
    border: none;
    outline: none;
    background: #111B47;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 2px;
    line-height: 26px;
}
.hero-button .light-button{
    width: 189px;
    height: 36px;
    background: white;
    color: #091133;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}
.hero-img {
    width: 504px;
    height: 580px;
    margin-top: 101px;
}